@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fef5eb;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #fef5eb;
  }
}

html,
body {
  color: var(--foreground);
  height: 100%;
  background: var(--background);
  font-family: "Geist", Arial, Helvetica, sans-serif;
}
