@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #faf9f6;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #faf9f6;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Geist", Arial, Helvetica, sans-serif;
}
